@use '../../../assets/theme/_var.scss' as *;

.filter {
  margin-bottom: 2rem;

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media (max-width: 991px) {
    width: 100%;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem 1.6rem;
    width: 100%;

    @media (max-width: 1679px) {
      gap: 1rem 1.2rem;
    }

    @media (max-width: 767px) {
      width: 100%;
      flex-wrap: wrap;
    }

    .filter_left {
      width: 100%;

      @media (max-width: 991px) {
        width: 100%;
      }

      .input_group {
        padding-bottom: 0;
      }

      &.search_input {
        @media (min-width: 992px) {
          width: 39.3rem;
          max-width: 100%;
        }
      }

      .searchbar {
        width: 100%;
        max-width: 78.7rem;
      }
    }

    .filter_right {
      display: flex;
      align-items: center;
      justify-content: end;
      width: 100%;
      gap: 1.8rem;

      @media (max-width: 767px) {
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
      }

      &.filters_space {
        @media (max-width: 767px) {
          flex-direction: inherit;
          align-items: center;
        }

        @media (max-width: 575px) {
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .custom_select {
        margin-bottom: 0;

        @media (max-width: 991px) {
          width: 100%;
        }

        .select__control {
          background-color: rgba($lightgrey, 0.03);
          border: 1px solid transparent;
          width: 100%;
          min-width: 14.5rem;

          //   @media (max-width: 991px) {
          //     width: 100%;
          //   }

          &.placeholder {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }

        &__placeholder {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .common_datetime,
      .common_datetimepicker {
        padding-bottom: 0;

        @media (max-width: 991px) {
          width: 100%;
        }

        .react-datetime-picker {
          background-color: rgba($lightgrey, 0.03);
          border: 1px solid transparent;
          width: 100%;
          min-width: max-content;
        }
      }

      .common_btn {
        font-size: 1.4rem;

        @media (max-width: 1679px) {
          height: 4.2rem;
        }

        @media (max-width: 991px) {
          width: 100%;
        }

        // &:not(:last-child) {
        //   margin-right: 1.6rem;
        // }

        &.filterblue_btn {
          padding: 1rem 4rem;
          white-space: nowrap;
        }
      }

      .filter {
        &_select,
        &_date,
        &_btns {
          display: flex;
          gap: 1rem 1.8rem;

          @media (max-width: 991px) {
            width: 100%;
          }

          @media (max-width: 575px) {
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }
    }
  }
}
