@use '../../../assets/theme/var' as *;

.common_datetime,
.common_datetimepicker {
  padding-bottom: 2rem;

  label {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: rgba($lightBlack, 0.7);
    margin-bottom: 0.8rem;
  }
  

  .react-datetime-picker,
  .react-time-picker,
  .k-datetimepicker {
    background-image: none;
    background-color: $white;
    border: 0.1rem solid $borderclr;
    font-size: 1.6rem;
    width: 100%;
    caret-color: $blackDarkClr;
    height: 4.8rem;
    color: $blackDarkClr;
    border-radius: 3.8rem;
    padding: 0.5rem 1.3rem 0.5rem 1.5rem;

    @media (max-width: 1679px) {
      height: 4.5rem;
      font-size: 1.4rem;
      padding: 0.5rem 1.3rem 0.5rem 1.3rem;
    }

    @media (max-width: 991px) {
      height: 4.2rem;
    }
  

    &__wrapper {
      border: none;
    }

    &__inputGroup,
    .k-dateinput {
      padding: 0;

      input {
        font-size: 1.4rem;
        color: $blackDarkClr;

        &::placeholder {
          color: $textclr;
        }

        &:invalid {
          background: transparent;
        }
      }

      span {
        color: $blackDarkClr;
        font-size: 1.4rem;
      }

      &__divider {
        color: $textclr !important;
      }

      &__input {
        &:invalid {
          background-color: $white;
        }
      }
    }

    &__clear-button {
      display: none;
    }

    &__button {
      padding: 0 0 0 0.6rem;

      svg {
        width: 2.4rem;
        height: 2.4rem;
        display: none;
        @media (max-width: 1679px) {
          width: 2.2rem;
          height: 2.2rem;
        }
      }
    }

    &__calendar {
      & .react-calendar {
        background: linear-gradient(180deg, $white 0%, $white 100%);
        transform: translate(0px, 20px) !important;
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.2);
        border: none;

        &__navigation {
          button {
            color: $blackDarkClr;

            &:hover,
            &:focus {
              background-color: rgba($white, 0.2);
              color: $textclr !important;
            }

            &:disabled {
              background-color: transparent;
              cursor: auto;
              color: $textclr !important;

              // &:hover {
              //   background-color: #f0f0f0;
              // }
            }
          }
        }

        &__viewContainer {
          & .react-calendar__month-view {
            &__weekdays {
              &__weekday {
                color: $blackDarkClr;

                abbr {
                  text-decoration: none;
                }
              }
            }

            &__days {
              &__day {
                color: $blackDarkClr;

                &--neighboringMonth {
                  color: $blackDarkClr;
                }

                &--weekend {
                  color: $red;
                }

                &:hover {
                  background: $btnGradient;
                  color: $white !important;
                }
              }
            }
          }

          & .react-calendar__year-view {
            &__months {
              & .react-calendar__tile {
                color: $blackDarkClr;

                &:hover {
                  background: $btnGradient;
                  color: $white !important;
                }
              }
            }
          }

          & .react-calendar__century-view {
            &__decades {
              & .react-calendar__tile {
                color: $blackDarkClr;

                &:hover {
                  background: $btnGradient;
                  color: $white !important;
                }
              }
            }
          }

          & .react-calendar__decade-view {
            &__years {
              & .react-calendar__tile {
                color: $blackDarkClr;

                &:hover {
                  background: $btnGradient;
                  color: $white !important;
                }
              }
            }
          }
        }

        &__tile {
          &--now {
            background: transparent;
            color: $blackDarkClr !important;
          }

          &--active {
            background: $btnGradient;
            color: $white !important;
          }

          &:disabled {
            background-color: $greye9ecef !important;
            border-color: $borderclr !important;
            cursor: auto;

            &:hover {
              background: $greye9ecef !important;
              border-color: $borderclr !important;
            }

            abbr {
              color: $blackDarkClr !important;
            }
          }
        }
      }
    }

    &--disabled {
      opacity: 0.5;
      background-color: $greye9ecef !important;
      border-color: $borderclr !important;
      cursor: not-allowed;
    }
  }

  &_wrapper {
    position: relative;

    .placeholder-text {
      position: absolute;
      left: 0;
      background: $white;
      z-index: 1;
      overflow: hidden;
      white-space: nowrap;
    }

    &.isdisable {
      .placeholder-text {
        background: transparent;
        color: $textclr !important;
        left: 0.5rem !important;
        cursor: not-allowed;
      }

      .react-datetime-picker__inputGroup {
        cursor: not-allowed;

        input {
          cursor: not-allowed;
        }
      }

      .react-datetime-picker__calendar-button {
        cursor: not-allowed;
      }
    }

    &.no-value {
      .placeholder-text {
        top: 50%;
        color: $textclr;
        pointer-events: none;
        left: 1.8rem;
        font-size: 1.6rem;
        transform: translateY(-50%);
        width: calc(100% - 8rem);
        transition:
          opacity 0.1s ease-in-out,
          transform 0.1s ease-in-out;

        @media (max-width: 1679px) {
          left: 1.5rem;
          font-size: 1.4rem;
        }
      }
    }

    &.has-value {
      .placeholder-text {
        opacity: 1;
        transform: scale(0.85) translateY(0.5rem);
        left: 0;
        padding-left: 1.2rem;
        font-size: 1.4rem;

        @media (max-width: 1679px) {
          padding-left: 0.8rem;
        }
      }

      .isplaceholder {
        .react-datetime-picker__inputGroup {
          height: 3rem;
          margin-top: 1.1rem;

          @media (max-width: 1679px) {
            margin-top: 1rem;
          }
        }
      }
    }
  }

  .error_text {
    color: $red;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .error-field {
    .k-datetimepicker {
      border-color: $red;
    }
  }
}

.common_datetimepicker_wrapper {
  position: relative;

  &.has-value {
    .react-datetime-picker {
      &__calendar {
        &-button {
          @media (max-width: 991px) {
            position: absolute;
            width: 3rem;
            height: 100%;
            right: 0.5rem;
            top: -0.6rem;
            z-index: 1;
          }

          @media (max-width: 767px) {
            position: unset;
          }

          @media (max-width: 480px) {
            position: absolute;
            width: 2.4rem;
          }
        }
      }

      &__inputGroup {
        input {
          font-size: 1.4rem;
        }
      }
    }

    .placeholder-text {
      transform: scale(0.85) translateY(0.8rem);
    }
  }
}

.common_datetimepicker {
  .no-value {
    .k-datetimepicker {
      .k-dateinput {
        &:not(:-webkit-autofill) {
          opacity: 0 !important;
        }
      }
    }
  }

  .has-value {
    .k-datetimepicker {
      padding-left: 1.4rem;

      @media (max-width: 1679px) {
        padding-left: 1rem;
      }

      .k-dateinput {
        padding: 0;
        height: 5rem;

        input {
          padding: 0;
          font-size: 1.4rem;
        }
      }
    }
  }

  .k-datetimepicker {
    .k-dateinput {
      &:not(:-webkit-autofill) {
        opacity: 1 !important;
      }
    }

    .k-button {
      border: none;
      background: transparent;
      border: none;
      background: transparent;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      border-radius: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      z-index: 1;
      padding-right: 1.4rem;

      @media (max-width: 1679px) {
        padding-right: 1rem;
        border-radius: 1rem;
      }

      .k-icon {
        flex-shrink: 0;
        width: 2rem !important;
        height: 2rem !important;

        @media (max-width: 1679px) {
          width: 1.6rem !important;
          height: 1.6rem !important;
        }

        svg {
          width: 3rem !important;
          height: 3rem !important;
        }
      }
    }

    &:focus {
      box-shadow: none !important;
    }

    &.k-input-solid {
      box-shadow: none !important;

      &:focus {
        border-color: $textclr;
      }
    }
  }
}

.k-popup {
  &.k-datetime-container {
    .k-datetime-buttongroup {
      .k-button {
        font-size: 1.4rem;
        height: 3.5rem;

        span {
          font-size: 1.2rem;
        }
      }
    }
  }

  .k-calendar-header {
    .k-button {
      &-text {
        font-size: 1.2rem;
      }
    }
  }

  .k-calendar-table {
    .k-calendar {
      &-tr {
        .k-calendar-caption {
          font-size: 1.2rem;
        }
      }

      &-th,
      &-td {
        font-size: 1.2rem;
      }
    }
  }

  .k-datetime-footer {
    .k-button {
      &-text {
        font-size: 1.4rem;
      }

      &:focus {
        box-shadow: none !important;
      }
    }
  }

  .k-title,
  .k-button-text,
  .k-item {
    font-size: 1.2rem;
  }
}

.common_datetime_wrapper {
  &.has-value {
    .placeholder-text {
      padding-left: 0.3rem;

      @media (max-width: 1679px) {
        padding-left: 0;
        left: -1.8px;
      }
    }
  }

  &.no-value {
    .placeholder-text {
      left: 1.5rem;
    }
  }
}

.k-animation-container {
  z-index: 1050 !important;
}
.error-field,
.has-focus {
  .k-invalid {
    .k-input-inner {
      padding-top: 0.2rem !important;
    }
  }
}
