@use '../../../assets/theme/_var.scss' as *;

.common_btn {
  height: 4.8rem;
  border-radius: 5.8rem;
  outline: none;
  background: $btnGradient;
  color: $white;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.1;
  @extend %transition;

  &_icon {
    margin-right: 1.2rem;

    svg,
    img {
      max-width: 3.6rem;

      // @media (max-width: 991px) {
      //   width: 2.4rem;
      //   height: 2.4rem;
      // }
    }
  }

  &.full {
    width: 100%;
    max-width: 100%;
  }

  @media (max-width: 1679px) {
    font-size: 1.6rem;
  }

  @media (max-width: 991px) {
    padding: 1rem 1.5rem;
    height: 4.2rem;
    font-size: 1.4rem;
  }

  &.btn-small {
    font-size: 1.2rem;
    font-weight: 600;
    height: 3.6rem;
    min-width: 5rem;
    padding: 1rem 2rem;
    border-radius: 4rem;
  }

  &.btn-md {
    font-size: 1.2rem;
    font-weight: 600;
    height: 3.2rem;
    min-width: 10.1rem;
    padding: 0.4rem 2rem;
    border-radius: 4rem;
  }

  &.btn-lightblue {
    font-size: 1.2rem;
    font-weight: 500;
    height: 3.2rem;
    background: rgba($blueclr, 0.08);
    color: $blackDarkClr;
    min-width: 10.1rem;
    padding: 0.4rem 2rem;
    border-radius: 4rem;
    opacity: 50%;

    &:hover {
      opacity: 100%;
    }
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    background: rgba($blackDarkClr, 0.4);
    color: $white;
  }

  &.full {
    width: 100%;
    max-width: 100%;
  }

  &:hover {
    background: $btnGradientHover;
    color: $white;
  }

  &.border-btn {
    border: 1px solid rgba(0, 105, 255, 0.6);
    color: $black;
    background: rgba(33, 36, 41, 0.06);

    &:hover {
      background: $btnGradientHover;
      color: $white;
    }
  }

  &.transparent_btn {
    padding: 0;
    height: auto;
    background: $btnGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    text-decoration: underline;
    border: none;
  }

  &.bank_btn {
    padding: 0;
    border-radius: 0;
    height: auto;
    background: $btnGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    text-decoration: underline;
    border: none;
    // height: 3.2rem;
    // padding: 1rem 1.5rem;
    font-size: 1.6rem;
  }

  &.btn-secondry {
    // background: rgba($lightgrey, 0.06);
    // color: $blackDarkClr;
    // border-color: rgba($lightBlack, 0.06);
    background:
      linear-gradient(#e2e3e5, #e2e3e5) padding-box,
      linear-gradient(121.9deg, #31d290 -48.48%, #0069ff 156.1%) border-box;
    color: $blackDarkClr;
    border: 1px solid transparent;

    &:disabled,
    &.disabled {
      cursor: not-allowed;
      pointer-events: none;
      background: rgba($blackDarkClr, 0.4);
      color: $white;
    }
  }

  &.red_btn {
    background: $redGradient;
    color: $white;
    border-color: $red;
  }
}
