@use '../../../assets/theme/_var.scss' as *;

.logoutModal {
  &.modal {
    .modal {
      &-dialog {
        max-width: 44.1rem;
        text-align: center;
        svg {
          margin-bottom: 2.5rem;
        }
        h4 {
          margin-bottom: 3.5rem;
        }
      }
    }
  }
}
