@use '../../../assets/theme/_var.scss' as *;

.changePasswordModal {
  &.modal {
    .modal {
      &-dialog {
        .modal-body {
          .row {
            &:not([class*='g-']):not([class*='gx-']):not([class*='gy']) {
              margin: 0 -1.2rem;

              @media (max-width: 767px) {
                margin: 0 -0.5rem;
              }

              > div {
                padding: 0 1.2rem;

                @media (max-width: 767px) {
                  padding: 0 0.5rem;
                }
              }
            }
          }

          .common_btn {
            font-size: 1.6rem;

            @media (max-width: 991px) {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
